<template name="buildingCard">
    <div id="building" style="display: none;">
        {{#with currentBuilding }}
            <h3>{{type}}</h3>
            <img src='{{avatar}}' style="height: 100px;"/>
            <div>Состояние: {{health}}</div>
            {{/with}}
    </div>
</template>

<template name="buildings">
    <div id="buildings">
        <h2>Места</h2>
        <div class="table-responsive">
            {{> reactiveTable collection=items settings=tableSettings}}
        </div>
    </div>
</template>

<template name="showLives">
    {{#each lives}}
        {{> renderGoomba who=this}}
    {{/each }}
</template>
<template name="showWorks">
    {{#each works}}
        {{> renderGoomba who=this}}
    {{/each }}
</template>