
<template name="createButtons">
    <div class="col-sm-7">
        {{#if actionAvaible}}
            <a href="#" class="btn btn-primary send" id="execute-action">Execute action</a>
        {{else}}
            <a href="#" class="btn btn-primary send" disabled id="execute-action">Execute action</a>
        {{/if}}
        <a href="#" class="btn btn-primary make-turn" id="end-turn">End turn</a>
        <a href="#" class="btn show-inventory" id="inventory-button">Inventory</a>
    </div>
</template>

<template name="input">
    <div class="container" id="buttons-panel">
        <form role="form" onsubmit="return false;">
            <div class="form-group">
                <label class="col-sm-1 control-label">Action</label>
                <div class="col-sm-2" id="action-select">
                    <select class="description" style="width: 80%;" placeholder="type your command">
                        {{#each available_actions}}
                            <option value="{{value}}">{{text}} ({{cost}})</option>
                        {{/each}}
                    </select>
                </div>
                {{#if available_actions_context}}
                    <div class="col-sm-2">
                        <select class="action-context" style="width: 80%;" placeholder="type your command">
                            {{#each available_actions_context}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/if}}
                {{>createButtons}}
            </div>
        </form>
    </div>
</template>

<template name="dialog">
    {{> input }}
</template>