<template name="eventCard">
    <div id="eventCard" style="display: none;">
        {{#with event }}
            <h3>{{title}}</h3>
            <div>{{description}}</div>
            <div>{{object}}</div>
        {{/with}}
    </div>
</template>
