<template name="goombaCard">
    <div id="goomba" style="display: none;">
        {{#with currentGoomba }}
            <h3>{{name}}</h3>
            <img src='{{avatar}}' style="height: 100px;"/>
            <div>Пол: {{sex}}</div>
            <!--<div>Позиция: {{> showPosition}}</div>-->
            <div>Здоровье: {{health}}</div>
            <div>Отравлен: {{is_poisoned}}</div>
            <div>Мертв: {{isDead}}</div>
            {{#if isDead}}
                <div>Разложился: {{is_decayed}}</div>
                <div>Мертв дней: {{days_dead}}</div>
            {{/if}}
        {{/with}}
    </div>
</template>

<template name="goombas">
    <div id="goombas">
        <h2>Люди</h2>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-toggle="toggle" id="show_dead">
                Show dead
            </label>
            <label>
                <input type="checkbox" data-toggle="toggle" id="show_animals">
                Show animals
            </label>
            <label>
                <input type="checkbox" data-toggle="toggle" id="show_all">
                Show hidden
            </label>
        </div>

        <div class="table-responsive">
            {{> reactiveTable collection=items settings=tableSettings}}
        </div>
    </div>
</template>
<template name="showAvatar">
    <img src={{avatar}} style="height: 30px;"/>
</template>

<template name="renderGoomba">
    {{renderGoomba who}}
</template>

<template name="dateAgoCreateTime">
    <div title="{{date create_time}}">{{dateAgo create_time}}</div>
</template>

<template name="showPosition">
    [{{x}}, {{y}}]
</template>

<template name="goombaActions">
    <img class='feed' src="https://www.shareicon.net/data/128x128/2016/09/26/834904_food_512x512.png" style="height: 30px;"/>
    <img class='drink' src="http://icons.veryicon.com/256/System/Line/Glass%20Water.png" style="height: 30px;"/>
    <img class='heal' src="http://s1.iconbird.com/ico/0612/vistabasesoftwareicons/w64h641339252609FirstAidKit3.png" style="height: 30px;"/>
</template>
