<template name="inventoryCard">
    <div id="inventory" style="display: none;">
        Осталось места: {{inventoryGetFreeSpace}}
        <div class="table-responsive">
            {{> reactiveTable collection=items settings=tableSettings}}
        </div>
    </div>
</template>

<template name="removeFromInventoryCard">
    <div id="remove-from-inventory" style="display: none;">
        Осталось места: {{inventoryGetFreeSpace}} <br>
        У вас нет места в инвентаре, придется что-то удалить
        <br> сам объект <br>
        <div class="table-responsive">
            {{> reactiveTable collection=items settings=tableSettings}}
        </div>
    </div>
</template>

<template name="resourceManagment">
    <div id="resource-managment" style="display: none;">
        <div class="table-responsive">
            {{> reactiveTable collection=items settings=tableSettings}}
        </div>
        <div class="table-responsive">
            {{> reactiveTable collection=people settings=peopleTableSettings}}
        </div>
    </div>
</template>


<template name="removeObject">
    <span class="remove-from-inventory glyphicon glyphicon-remove" aria-hidden="true"></span>
    <!--<img class='remove-from-inventory' src="https://www.shareicon.net/data/128x128/2016/09/26/834904_food_512x512.png" style="height: 30px;"/>-->
</template>