<template name="menu">
    <div class='container' style="margin-top: 20%;">
        <div class="row">
            <div class="col-xs-12">Desert Island Game</div>
            <br/>
            <button class="btn btn-primary col-xs-12 create-game" type="button">Создать игру</button>
            {{#if canContinue}}
                <br/>
                <button class="btn btn-primary col-xs-12 continue-game" type="button">Продолжить игру</button>
            {{/if}}
            <br/>
        </div>
    </div>
</template>