<template name="questionnaire">
  <div class="container" id='questions' title="Опросник" style="display:none;">
      <pre>
* Насколько необходима эта фича?
* Как это влияет на геймплей?
* Как это можно упросить?
* Чем это отличается от существующих проектов\конкурентов?
      </pre>
  </div>
</template>