<head>
    <title>Desert Island</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<template name="mainGame">
    {{> goombaCard}}
    {{> buildingCard}}
    {{> inventoryCard}}
    {{> resourceManagment}}
    {{> eventCard}}
    {{> removeFromInventoryCard}}
    <div class='container' style="margin-top: 1%;">
        {{> questionnaire}}

        {{> gameManipulatingButtons}}
        {{> gameStatus}}
        {{> dialog}}

        {{> grid}}

        {{> journal}}
        {{> goombas}}
        {{> buildings}}
    </div>
</template>


<template name="gameManipulatingButtons">
    <div class="form-group pull-right">
        <a href="#" class="btn enable-tutorial">Show tutorial</a>
        <a href="#" class="btn btn-danger reset" id="exit-game">Exit game</a>
    </div>
</template>


<template name="gameStatus">
    <h1 id="day">Day # {{add game.turn 1}}</h1>
    {{#if currentGoomba}}
        <div id="whos-turn">
              <span>Сейчас ходит: {{renderGoomba currentGoomba}} (использовано {{#if game.spend_points}}{{game.spend_points}}{{else}}0{{/if}} из {{constants 'TURN_POINTS'}})</span>
        </div>
    {{/if}}
</template>

<template name="journal">
    <div id="events">
       <h2>События</h2>
       <div class="table-responsive">
        {{> reactiveTable collection=items settings=tableSettings}}
      </div>
    </div>
</template>

<template name="tutorial">
</template>

<template name="grid">
    {{> tutorial}}
    <div style="height: 300px;" id="map">
        <svg  preserveAspectRatio="xMinYMin meet" class="svg-content" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg"
              xmlns:html="http://www.w3.org/1999/xhtml" style="height: 100%;">
            {{#each tiles}}
                {{> tile}}
            {{/each}}
            {{#each buildings}}
                {{> building}}
            {{/each}}
            {{#each objects}}
                {{> object}}
            {{/each}}
            {{#each goombas}}
                {{> goomba}}
            {{/each}}
        </svg>
    </div>
</template>


<template name="object">
    <g class='object' id="{{_id}}">
        <image xlink:href="{{avatar}}" width="30" height="30" x="{{x}}" y="{{y}}"/>
        {{#if constants 'SHOW_TEXT_HINTS'}}<text x="{{add x 5}}" y="{{ add y 10}}" fill="red" style="font-size: 9px;stroke: white;stroke-width: 0.1px;">{{type}}</text>{{/if}}
    </g>
</template>

<template name="tile">
    <rect width="30" height="30" x="{{x}}" y="{{y}}" style="fill:{{color}};stroke-width:3;stroke:rgb(0,0,0)"/>
</template>

<template name="goomba">
    <g class='goomba' id="{{_id}}">
        <image xlink:href="{{avatar}}" width="30" height="30" x="{{x}}" y="{{y}}" transform="rotate({{#if isDead}}90{{else}}0{{/if}},{{ add x 15}},{{ add y 15}})"/>
        {{#if constants 'SHOW_TEXT_HINTS'}}<text x="{{add x 5}}" y="{{ add y 10}}" fill="red" style="font-size: 9px;stroke: white;stroke-width: 0.1px;">{{name}}</text>{{/if}}
        {{#if isGoombaSelected }}
            <rect width="30" height="30" x="{{x}}" y="{{y}}" style="stroke-width:5;stroke:red;fill: transparent;"/>
       {{/if}}
        {{#if isCurrentGoomba }}
            <rect width="30" height="30" x="{{x}}" y="{{y}}" style="stroke-width:2;stroke:green;fill: transparent;"/>
        {{/if}}
    </g>
</template>

<template name="building">
    <!--TODO смещаем на 10, иначе текст уезжает за пределы svg-->
     <text x="{{add x 5}}" y="{{ add y 10}}" fill="red" style="font-size: 9px;stroke: white;stroke-width: 0.1px;">{{type}}</text>
</template>

<template name="renderCommand">
    <a class='command' href="#">{{renderCommand command_id}}</a>
</template>